@model IEnumerable<Hospital.DTO.Visit.VisitDto>
@{
    Layout = "_Dashboard";
}

<div class="col-md-2 col-lg-2 left-panel">
    @if (User.IsInRole(nameof(RoleType.Doctor)))
    {
        <div class="panel-item">
            @Html.ActionLink("Pacjenci","GetPatients","Patient",null,null)
        </div>
    }
    @if (User.IsInRole(nameof(RoleType.Doctor)) || User.IsInRole(nameof(RoleType.Receptionist)))
    {
        <div class="panel-item active">
            @Html.ActionLink("Wizyty","GetVisits","Visit")
        </div>
    }
    @if (User.IsInRole(nameof(RoleType.Nurse)))
    {
        <div class="panel-item">
            @Html.ActionLink("Badania","GetExaminations","Examination")
        </div>
    }
</div>
<div class="col-md-10 col-lg-10 main-panel">
    <div class="offset-md-1 col-md-10" style="margin-top: 5rem;">
        @if (User.IsInRole(nameof(RoleType.Doctor)))
        {
            <div style="text-align: right;">
                @Html.ActionLink("Przyjmij pacjenta","CreateVisit","Visit",null,new { @class = "btn btn-primary", @type = "button"})
            </div>
        }
        else if (User.IsInRole(nameof(RoleType.Receptionist)))
        {
            <div style="text-align: right;">
                @Html.ActionLink("Utwórz wizytę","AssignVisitToDoctor","Visit",null,new { @class = "btn btn-primary", @type = "button"})
            </div>
        }
        @if (Model != null && Model.Any())
        {
            <div class="col-md-12 searchRow">
                <input placeholder="Szukaj..." type="text" class="form-control searchBar" id="search" oninput="searchItems(this.value)" />
            </div>
            <table class="table table-bordered" style="margin-top: 1rem;">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            Pacjent
                        </th>
                        <th style="text-align:center">
                            Data
                        </th>
                        <th style="text-align:center">
                            Rozpoznanie
                        </th>
                        <th style="text-align:center">
                            Status
                        </th>
                        @if (User.IsInRole(nameof(RoleType.Receptionist))){
                            <th style="text-align:center">
                                Lekarz
                            </th >
                        } 
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list">
                    @foreach (var visit in Model)
                    {
                        <tr>
                            <td style="text-align:center">
                                <span>@visit.PatientFullName</span>
                            </td>
                            <td style="text-align:center">
                                @visit.VisitDate.ToString("dd.MM.yyyy")
                            </td>
                            <td style="text-align:center">
                                @visit.Recognition
                            </td>
                            <td style="text-align:center">
                                @visit.Status
                            </td>
                            @if (User.IsInRole(nameof(RoleType.Receptionist)))
                            {
                                <td style="text-align:center">
                                    @visit.DoctorFullName
                                </td>
                            }
                            <td style="text-align:center">
                                @Html.ActionLink("Wyświetl","ViewVisit","Visit",new { visitId = visit.Id },new { @class = "btn btn-warning", @type = "button"})
                                @if (visit.Status == "Zaplanowane" && User.IsInRole(nameof(RoleType.Doctor)))
                                {
                                    @Html.ActionLink("Edytuj wizytę","UpdateVisit","Visit",new { visitId = visit.Id },new { @class = "btn btn-primary", @type = "button"})
                                }
                                @Html.ActionLink("Usuń","DeleteVisit","Visit",new { visitId = visit.Id },new { @class = "btn btn-danger", @type = "button"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div style="text-align:center">
                <img src="https://cdn-icons-png.flaticon.com/512/6134/6134065.png" width="150" height="150" style="margin-bottom: 15px;" /><br />
                Brak przypisanych wizyt
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

        window.onload = () => {
            if (document.getElementById("search").value.length > 0) {
                searchItems(document.getElementById("search").value);
            }
        }

        function searchItems(searchPhrase) {
            const list = document.getElementById('list');
            var items = [...list.children];
            items.forEach(x => {
                if (searchPhrase === undefined || searchPhrase.length === 0) {
                    x.style.display = "table-row";
                }
                else if (x.getElementsByTagName('span')[0].innerHTML.toLowerCase().includes(searchPhrase.toLowerCase())) {
                    x.style.display = "table-row";
                }
                else {
                    x.style.display = "none";
                }
            });
        }
    </script>
}